@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply hidden;
}

::selection {
  @apply bg-secondary text-white;
}

.teams-container .swiper-pagination {
  @apply static mx-auto pt-4 transition-all xs:pt-8;
}
.teams-container .swiper-pagination-bullet {
  @apply transition-all;
}
.teams-container .swiper-pagination-bullet-active {
  @apply h-2 w-6 rounded-full !bg-primary;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
  @apply px-8;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred
  ul,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused
  ul {
  @apply pl-4;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred
  ol,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused
  ol {
  @apply pl-4;
}

.preventive-table table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}
.preventive-table table tr:first-child td {
  font-weight: bold;
  border: 2px solid black;
  padding: 8px;
}
.preventive-table table td {
  border: 2px solid black;
  padding: 8px;
}
.preventive-list ul {
  @apply list-outside list-disc pl-8;
}
.preventive-list ol {
  @apply list-outside list-decimal pl-8;
}
.preventive-list li {
  @apply list-outside;
}

@layer utilities {
  .base {
    @apply grid justify-items-center pb-[200px];
  }
  .base-dashboard {
    @apply grid gap-8;
  }
  .wrapper {
    @apply grid w-full max-w-[600px] gap-8 lg:max-w-none;
  }

  .title {
    @apply text-[36px] font-black capitalize leading-[100%] -tracking-[2px] text-black sm:text-[42px];
  }
}

/* loading animation */
.loader {
  height: 20px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side, #f58120 90%, #0000);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l43 800ms infinite linear;
}
@keyframes l43 {
  0% {
    background-position:
      calc(0 * 100% / 3) 50%,
      calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%;
  }
  16.67% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%;
  }
  33.33% {
    background-position:
      calc(0 * 100% / 3) 100%,
      calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%;
  }
  50% {
    background-position:
      calc(0 * 100% / 3) 50%,
      calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 0,
      calc(3 * 100% / 3) 50%;
  }
  66.67% {
    background-position:
      calc(0 * 100% / 3) 50%,
      calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 100%,
      calc(3 * 100% / 3) 0;
  }
  83.33% {
    background-position:
      calc(0 * 100% / 3) 50%,
      calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 100%;
  }
  100% {
    background-position:
      calc(0 * 100% / 3) 50%,
      calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%;
  }
}
